.Table_header
{
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-align: center;
    display:block;

}
table {
  border:1px solid black;
  width: 90%;
  padding: 10px;
  align-self: center;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
  
}
th td
{
    border:1px solid black;
    padding: 25px;
    margin-right: 10px;
    margin-left: 10px;
    
    text-align: center;
    display:block;

}
h1{
background-color:rgb(123, 187, 123);
position: relative;
}
.velozity{
  background-color: rgb(0, 255, 204);
}
thead
{
  background-color: rgb(255, 98, 98);
}
